{% extends "default.html" %}
{% block content %}
<h1 class="page-heading">The Computer Of The Next 200 Years</h1>

This is a series of posts about what the future of computing could look like.
This series is as-yet unfinished.

{# sort numerically, not alphabetically #}
{% set_global parsed_terms = [] %}
{% for term in terms %}
  {% set_global parsed_terms = parsed_terms | concat(with=term.name | int) %}
{% endfor %}
{% set parsed_terms = parsed_terms | sort %}

{% set categories = ["principles", "tools", "implementation"] %}
{% for category in categories %}
<hr>
<h2>{{category}}</h2>

{% for n in parsed_terms %}
{# {% set term = terms | filter(attribute="terms[0].category", value=category | as_str) | nth(n=0) %} #}
    {% set term = terms | filter(attribute="name", value=n | as_str) | nth(n=0) %}
    {% if term.pages[0].extra.category == category %}{% set_global first_post = n %}{% break %}{% endif %}
{% endfor %}

{# {% set posts_in_cat = terms | filter(attribute="pages[0].category", value=category) %} #}
{# {% set first_post = terms | filter(attribute="name", value=n | as_str) | nth(n=0) %} #}

<ol class="post-list" start="{{first_post}}">
  {% for n in parsed_terms %}
    {% set term = terms | filter(attribute="name", value=n | as_str) | nth(n=0) %}
  {% if not term %} oops !!! {{name}} {%continue%}{%endif%}
  {% for post in term.pages %} {# always just a single post #}
  {% if not post.extra.category %}oops!! {{post.title}} doesn't have a category{% continue %}{% endif %}
  {% if post.extra.category != category %}{% continue %}{% endif %}
    <li>
    {% if post.extra.stub %}
    <h2>{{ post.title | safe }}</h2>
    {% else %}
    {% set date_format = site.minima.date_format | default(value = "%b %-d, %Y") %}
    <span class="post-meta">
      {{ post.date | date(value = date_format) }}
      • author—jyn
    </span>

    <h2>
      <a class="post-link" href="{{ post.path }}">{{ post.title | safe }}</a>
    </h2>
    {% endif %}
    </li>
  {% endfor %}
  {% if term.name == "4" and category == "tools" %}
  <li>
      <span class="post-meta">
      2023-12-11
      • author—jade
      </span>
    <h2><a class="post-link" href="https://jade.fyi/blog/the-postmodern-build-system/">the postmodern build system</a></h2>
  </li>
  {% endif %}
  {% endfor %}
</ol>
{% endfor %}

{% endblock content %}
