<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>404 not found</title>
    <link rel="icon" type="image/x-icon" href="{{ get_url(path='/favicon.jpg') }}">
  </head>
  <body>
    <figure>
      <img src="/storm-tossed-boat.jpg"
        style="max-height: 75vh"
        title="Edmund H. Garrett (1853-1929). Public Domain."
        alt="a painting of a boat at sea, tilted so far by the waves that it looks like it's about to capsize. the painting is done in shades of tan, brown, and black, and the sky is dark.">
      <figcaption>
        Gentile or Jew<br>
        O you who turn the wheel and look to windward,<br>
        Consider Phlebas, who was once handsome and tall as you.
      </figcaption>
    </figure>
    <p>you look lost, traveler. <a href="/">return home?</a></p>
  </body>
</html>
