{% extends "default.html" %}
{% block content %}
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in section.pages %}
      <li>
        {% set date_format = site.minima.date_format | default(value = "%b %-d, %Y") %}
        <span class="post-meta">
          {{ post.date | date(value = date_format) }} •
          {{ post.audience | default(value = "everyone") }}
        </span>

        <h2>
          <a class="post-link" href="{{ post.path }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a type="application/atom+xml" href="{{ "/atom.xml" }}">via RSS</a></p>

</div>
{% endblock content %}
