{% extends "default.html" %}

{% block content %}

This page contains citations for my zine, <b>computers should be liberating</b>.
You can see it in context in the 8th issue of
<a href="https://pagedout.institute/download/PagedOut_008.pdf">PagedOut</a>,
a free experimental technical magazine.

The full text of the PDF is reproduced below.

<br>
<br>

<embed type="application/pdf" src="/assets/liberating.pdf" width="100%" style="height: 100vh">

{% set links = load_data(path="data/liberating.yml") %}

<h2 id=citations>
  citations
  <a class="zola-anchor" href="#citations"></a>
</h2>

<ul>

{% for name, meta in links %}

<li id="{{name}}">
  <a href="{{meta.url}}">{{name}}</a>:
  {% if meta.author %}{{meta.author}}, {% endif %} “{{meta.title}}”
  <a class="zola-anchor" href="#{{name}}"></a>
</li>

{% endfor %}

</ul>

{% endblock content %}
