{% import "macros.html" as macros %}
{% extends "default.html" %}

{% block content %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
		<h1 {%if page.description%}title="{{page.description}}"{%endif%} class="post-title" itemprop="name headline">{{ page.title | safe }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date }}" itemprop="datePublished">
        {{ page.date }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      {% if page.extra.audience %}
        • audience—{{ page.extra.audience }}
      {% endif %}
      {% for term, tags in page.taxonomies %}
        {% if term != "tags" %}{% continue %}{% endif %}
        {% for tag in tags %}
      • <a href="{{ get_taxonomy_url(kind=term, name=tag) }}">{{ tag }}</a>
        {% endfor %}
      {% endfor %}
    </p>
  </header>

  {% if page.draft or page.extra.draft %}
  <aside class=secret><button class=close aria-label=Close title="Click here to dismiss">
    <strong>This is a draft post. Please do not share it.</strong>
  </button></aside>
  {% endif %}

	{% if page.extra.toc %}
{{ macros::toc(toc=page.toc, depth=page.extra.toc) }}
	{% endif %}

  {% for term, tags in page.taxonomies %}
    {% if term != "computer-of-the-future" %}{% continue %}{% endif %}
  <p>This post is part {{ tags.0 }} of a multi-part series called <a href="/computer-of-the-future">“the computer of the next 200 years”</a>.</p>
    {% if page.extra.stub %}
    <p>This post is as-yet unfinished.</p>
    {% endif %}
  <hr>
  {% endfor %}

  <div class="post-content" itemprop="articleBody">
    {{ page.content | safe }}
  </div>
</article>
<hr>
  {# every goddamn time i use tera i regret it #}
  {# lobste.rs doesn't allow searching by url >:( #}
  {# we can't even search by title because that messes up punctuation (e.g. "why so hard to use?") >:(
     do a full text search instead. #}
  {# duckduckgo doesn't seem to index /s very quickly so we can't use I'm Feeling Lucky :( #}
  {% set title = page.title | urlencode %}
  {# "url": "https://duckduckgo.com/?q=!ducky+site%3Ahttps%3A%2F%2Flobste.rs%2Fs+\"jyn.dev\"+\"' ~ title ~ '\""}'), #}
  {% set links = [
    load_data(format="json", literal='{"name":"Hacker News",
      "url": "https://hn.algolia.com/?query=jyn.dev' ~ page.path ~ '&type=story"}'),
    load_data(format="json", literal='{"name":"Lobste.rs",
      "url": "https://lobste.rs/stories/url/latest?url=https://jyn.dev' ~ page.path ~ '"}'),
  ] %}
  {% if page.extra.fedi %}
    {% set fedi = load_data(format="json", literal='{"name": "Mastodon",
      "url": "' ~ page.extra.fedi ~ '"}') %}
    {% set links = links | concat(with=fedi) %}
  {% endif %}
  {% if page.extra.bsky %}
    {% set bsky = load_data(format="json", literal='{"name": "Bluesky",
      "url": "' ~ page.extra.bsky ~ '"}') %}
    {% set links = links | concat(with=bsky) %}
  {% endif %}
<small>Discuss on
  {%- for link in links -%}
    {%- if loop.last and loop.index > 2-%}, or
    {%- elif loop.last %} or
    {%- elif not loop.first -%},
    {% endif %}
    <a href="{{link.url}}">{{link.name}}</a>
  {%- endfor -%}
</small>
{% endblock content %}
