{% extends "default.html" %}

{% block content %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | safe }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date }}" itemprop="datePublished">
        {{ page.date }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      {% if page.extra.audience %}
        • audience—{{ page.extra.audience }}
      {% endif %}
      {% for term, tags in page.taxonomies %}
        {% if term != "tags" %}{% continue %}{% endif %}
        {% for tag in tags %}
      • <a href="{{ get_taxonomy_url(kind=term, name=tag) }}">{{ tag }}</a>
        {% endfor %}
      {% endfor %}
    </p>
  </header>

  {% if page.draft %}
  <aside class=secret><button class=close aria-label=Close title="Click here to dismiss">
    <strong>This is a draft post.</strong>
  </button></aside>
  {% endif %}

  {% for term, tags in page.taxonomies %}
    {% if term != "computer-of-the-future" %}{% continue %}{% endif %}
  <p>This post is part {{ tags.0 }} of a multi-part series called <a href="/computer-of-the-future">“the computer of the next 200 years”</a>.</p>
    {% if page.extra.stub %}
    <p>This post is as-yet unfinished.</p>
    {% endif %}
  <hr>
  {% endfor %}

  <div class="post-content" itemprop="articleBody">
    {{ page.content | safe }}
  </div>
</article>
{% endblock content %}
